* { box-sizing: border-box; }

.App {
  background: red;
  height: 100vh;
}

.AppGrid {
  display: grid;
  grid:
    "map controls  " max-content
    "map history   " 1fr /
    1fr  max-content;
  position: relative;
  background: var(--app-current-color);
  height: 100%;
}

.AppGrid > * {
  border: 1px solid black;
  padding: 10px;
  margin: 3px;
  background: white;
}

.App .Controls {
  grid-area: controls;
}

.App .History {
  grid-area: history;
  overflow-y: scroll;
  overflow-x: clip;
  min-height: 100px;
  min-width: 300px;
}

.App .Map {
  min-width: 400px;
  grid-area: map;
  position: relative;
}

.App .ColorBadge {
  border-radius: 5px;
  padding-right: 32px;
  display: inline-block;
  background: var(--color-badge);
  border: 3px solid var(--color-badge);
}

.App .ColorBadgeLabel {
  background: white;
  border-left: 2px solid white;
  border-right: 2px solid white;
  border-radius: 8px;
  padding: 0px 5px 0px 5px;
  display: inline-block;
}

.App .ColorBadgeLabelComponent {
  display: inline-block;
  width: 3ch;
  text-align: end;
}

.App .FeedFruit button {
  min-width: 100px;
  margin-bottom: 8px;
}
